body {
    background-color: black !important;
}

.container {
    min-height: 100vh;
    background-color: black !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quiz-card {
    max-width: 40rem;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.question-footer {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.col-md-4 {
    background-color: #27355c;
    display: flex;
    justify-content: center;
}

.col-md-4 img {
    width: 100px;
    height: 100px;
    padding: 15px;
    object-fit: contain;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.bg-end {
    border-top: 3px solid white;
    background-image: url(" img/pokal.jpg");
    background-size: cover;
    color: white !important;
    font-size: 32px;
    text-align: center;
    height: 400px;
}

.result {
    margin-top: 200px;
    font-size: 24px;
}

@media(max-width:768px) {

    /*     .quiz-card {
        width: 100% !important;
        height: 100% !important;
    }

    .container {
        width: 100%;
        max-width: unset;
    } */

}